@import url(//fonts.googleapis.com/css?family=Roboto);

:root {
  /* Color Palette */
  --primary-dark: #1F2936; 
  --primary-light: #F9FAF8; 
  --secondary-light: #E5E7EB; 
  --accent: #3882F6; 

  /* Font */
  --primary-font: 'Roboto', sans-serif;
  --large-size: 48px; 
  --medium-size: 36px; 
  --small-size: 18px; 
  --thick-weight: 800; 
  --light-weight: 300;

  --content-width: 60vw;
}

body {
  margin: 0;
  font-family: var(--primary-font);
}

/* Header */
.header {
  background-color: var(--primary-dark);
}

.header.content {
  width: var(--content-width);
  margin: auto;
  padding: 10px 0;
  display: flex; 
  align-items: baseline; 
  justify-content: space-between;
}

.header.left {
  color: var(--primary-light);  
  font-size: 24px;
}

.header.right {
  display: flex; 
  gap: 10px;
}

a {
  color: var(--secondary-light); 
  text-decoration: none;
}

/* Welcome */
.welcome {
  background-color: var(--primary-dark);
}

.welcome.content {
  width: var(--content-width); 
  margin: auto; 
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.welcome.title {
  color: var(--primary-light);
  font-size: var(--large-size); 
  font-weight: var(--thick-weight);
}

.text {
  color: var(--secondary-light); 
  font-size: var(--small-size); 
}

.sign-up-btn {
  background-color: var(--accent);
  color: var(--primary-light); 
  border: none; 
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 5px;
}

.welcome-img {
  width: 70vw; 
  background-color: gray;
  color: var(--secondary-light);
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/* Information */
.information {
  width: var(--content-width); 
  margin: auto;
  padding-bottom: 80px;
}

.information .title {
  color: var(--primary-dark); 
  font-size: var(--medium-size);
  font-weight: var(--thick-weight);
  margin: 40px 0;
  text-align: center;
}

.information .boxes {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.information .image {
  height: 140px; 
  width: 140px;
  border: solid var(--accent) 3px;
  border-radius: 10px;
}

.information .text {
  max-width: 140px;
}

/* Quote */
.quote {
  background-color: var(--secondary-light);
}

.quote .content {
  width: var(--content-width); 
  margin: auto;
  padding: 80px 0;
}

.quote .text {
  color: var(--primary-dark); 
  font-size: var(--medium-size); 
  font-weight: var(--light-weight);
}

.quote .author {
  text-align: end;
}